<div class="proyectos" id="proyectos">
    <div class="container-fluid">

        <div class="body-head">
            <div class="img-header" parallaxs-background parallax-ratio="-0.2">
                <div class="leyends container">
                    <div class="row text-right">
                        <div class="col-md-11 col-xs-12">
                            <p>PROYECTOS</p>
                        </div>
                        <div class="content-hr col-md-1 col-xs-12">
                            <hr>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div ng-controller="getListProjects">
          <select-proyectos></select-proyectos>
          <div class="grid">
              <div class="col-md-3 col-xs-6 col-sm-4 b-grid jalisco" ng-repeat="(key, data) in projectList" ng-click="getDetailGrid(data.idProyecto);">
                  <img src="./admin/src/images/imagenes-proyectos/{{data.imagenHome}}" style="height: 359px;width: 100%;">
                  <div class="cintillo">
                      <div class="title txt">
                          {{data.nombreProyecto}}
                      </div>
                      <div class="city txt">
                          {{data.ciudad}}, {{data.estado}}
                      </div>
                  </div>
              </div>
          </div>
        </div>
    </div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content slideModal">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <img src="./assets/images/arrow.png" alt="" />
                </button>
                <h4 class="modal-title" id="myModalLabel"></h4>
            </div>
            <div class="modal-body" ng-controller="mainController">
                <div class="row modal-content-wrapper">
                    <div class="col-md-6 col-xs-12 foto text-center ">
                      <!-- Swiper -->
                      <div class="swiper-container gallery-top">
                          <div class="swiper-wrapper">
                              <div ng-repeat="image in projectDetailsList[0].imagenes" class="swiper-slide" style="background-image:url(./admin/src/images/imagenes-proyectos/{{image}})"></div>
                          </div>
                          <!-- Add Arrows -->
                          <div class="swiper-button-next swiper-button-white"></div>
                          <div class="swiper-button-prev swiper-button-white"></div>
                      </div>
                      <div class="swiper-container gallery-thumbs">
                          <div class="swiper-wrapper">
                            <div ng-repeat="image in projectDetailsList[0].imagenes" class="swiper-slide" style="background-image:url(./admin/src/images/imagenes-proyectos/{{image}})"></div>
                          </div>
                      </div>

                    </div>
                    <div class="col-md-6 contenido col-xs-10 info-project">
                        <div class="titulo col-md-offset-1">
                            <span>{{projectDetailsList[0].nombreProyecto}}</span>
                            <img src="./admin/src/images/logos-proyectos/{{projectDetailsList[0].logoProyecto}}" style="width:42px;height:42px;float:right;" />
                        </div>
                        <hr>
                        <div class="descripcion col-md-offset-1">
                            {{projectDetailsList[0].descripProyecto}}
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>




</div>
