<div class="row" style="margin-top: 2vw" ng-controller="getImagesPropiedadesController">
  <div class="col-md-10">
    <form class="form-horizontal" id="formEditPropiedad" name="" enctype="multipart/form-data">
      <div class="col-md-5">
        <div class="form-group">
          <label for="id-propiedad" class="col-sm-12 control-label">ID *</label>
          <div class="col-sm-12">
            <input required type="text" disabled class="form-control" id="id-propiedad" name="id-propiedad" value="{{propiedadElement[0].idPropiedad}}"></input>
            <input required type="text" hidden class="form-control" id="id-propiedad" name="id-propiedad" value="{{propiedadElement[0].idPropiedad}}"></input>
          </div>
        </div>
        <div class="form-group">
          <label for="nombre-propiedad" class="col-sm-12 control-label">Nombre *</label>
          <div class="col-sm-12">
            <input required type="text" class="form-control" id="nombre-propiedad" placeholder="Nombre de la Propiedad" name="nombre-propiedad" value="{{propiedadElement[0].nombreDesarrollo}}"></input>
          </div>
        </div>
        <div class="form-group">
          <label for="descripcion-propiedad" class="col-sm-12 control-label">Descripción *</label>
          <div class="col-sm-12">
            <textarea rows="4" cols="50" required class="form-control" id="descripcion-propiedad" placeholder="Escribe la descripción" name="descripcion-propiedad">{{propiedadElement[0].descripPropiedad}}</textarea>
          </div>
        </div>
        <div class="form-group">
          <label for="direccion-propiedad" class="col-sm-12 control-label">Dirección *</label>
          <div class="col-sm-12">
            <input required type="text" class="form-control" id="direccion-propiedad" placeholder="Dirección de la Propiedad" name="direccion-propiedad" value="{{propiedadElement[0].direccionPropiedad}}"></input>
          </div>
        </div>
        <div class="form-group">
          <label for="colonia-propiedad" class="col-sm-12 control-label">Colonia *</label>
          <div class="col-sm-12">
            <input required type="text" class="form-control" id="colonia-propiedad" placeholder="Colonia de la Propiedad" name="colonia-propiedad" value="{{propiedadElement[0].colonia}}"></input>
          </div>
        </div>
        <div class="form-group">
          <label for="cp-propiedad" class="col-sm-12 control-label">Código Postal *</label>
          <div class="col-sm-12">
            <input required type="text" class="form-control" id="cp-propiedad" placeholder="Código Postal de la Propiedad" name="cp-propiedad" value="{{propiedadElement[0].codigoPostal}}"></input>
          </div>
        </div>
        <div class="form-group">
          <label for="telefono-propiedad" class="col-sm-12 control-label">Teléfono *</label>
          <div class="col-sm-12">
            <input required type="text" class="form-control" id="telefono-propiedad" placeholder="Teléfono de la Propiedad" name="telefono-propiedad" value="{{propiedadElement[0].telefono}}"></input>
          </div>
        </div>
        <div class="form-group">
          <label for="email-propiedad" class="col-sm-12 control-label">Email *</label>
          <div class="col-sm-12">
            <input required type="email" class="form-control" id="email-propiedad" placeholder="Email de la Propiedad" name="email-propiedad" value="{{propiedadElement[0].email}}"></input>
          </div>
        </div>
      </div>
      <div class="col-md-5">
        <div class="form-group" ng-controller="getListStates">
          <label for="estado-propiedad" class="col-sm-12 control-label">Estado *</label>
          <div class="col-sm-12">
            <select required class="form-control" id="estado-propiedad" name="estado-propiedad" ng-model="valor.model">
              <option disabled="" selected="" value="">Selecciona..</option>
              <option ng-repeat="(key, data) in availableOptions" value="{{data.idEstados}}" ng-if="propiedadElement[0].estado == data.nombreEstado" selected>{{data.nombreEstado}}</option>
              <option ng-repeat="(key, data) in availableOptions" value="{{data.idEstados}}" ng-if="propiedadElement[0].estado != data.nombreEstado">{{data.nombreEstado}}</option>
            </select>
          </div>
        </div>
        <div class="form-group" ng-controller="getListCities">
          <label for="ciudad-propiedad" class="col-sm-12 control-label">Ciudad *</label>
          <div class="col-sm-12">
            <select required class="form-control" id="ciudad-propiedad" name="ciudad-propiedad" ng-if="valor.model">
              <option disabled="" selected="" value="">Selecciona..</option>
              <option ng-repeat="(key, data) in availableOptions" value="{{data.idCiudades}}" ng-if="data.Estados_idEstados == valor.model">{{data.nombreCiudad}}</option>
            </select>
            <select required class="form-control" id="ciudad-propiedad" name="ciudad-propiedad" ng-if="!valor.model">
              <option disabled="" selected="" value="">Selecciona..</option>
              <option ng-repeat="(key, data) in availableOptions" value="{{data.idCiudades}}" ng-if="propiedadElement[0].ciudad == data.nombreCiudad" selected>{{data.nombreCiudad}}</option>
            </select>
          </div>
        </div>
        <div class="form-group" ng-controller="getListInmobiliaria">
          <label for="inmobiliaria-propiedad" class="col-sm-12 control-label">Inmobiliaria *</label>
          <div class="col-sm-12">
            <select required class="form-control" id="inmobiliaria-propiedad" name="inmobiliaria-propiedad">
              <option disabled="" selected="" value="">Selecciona..</option>
              <option ng-repeat="(key, data) in availableOptions" value="{{data.idtipoInmobiliaria}}" ng-if="propiedadElement[0].tipoInmobiliaria == data.tipoInmobiliaria" selected>{{data.tipoInmobiliaria}}</option>
              <option ng-repeat="(key, data) in availableOptions" value="{{data.idtipoInmobiliaria}}" ng-if="propiedadElement[0].tipoInmobiliaria != data.tipoInmobiliaria">{{data.tipoInmobiliaria}}</option>
            </select>
          </div>
        </div>
        <div class="form-group" ng-controller="getListTypeInmobiliaria">
          <label for="tipo-inmobiliaria-propiedad" class="col-sm-12 control-label">Tipo Inmobiliaria *</label>
          <div class="col-sm-12">
            <select required class="form-control" id="tipo-inmobiliaria-propiedad" name="tipo-inmobiliaria-propiedad">
              <option disabled="" selected="" value="">Selecciona..</option>
              <option ng-repeat="(key, data) in availableOptions" value="{{data.idsubcategoriaInmobiliaria}}" ng-if="propiedadElement[0].subcategoriaInmobiliaria == data.subcategoriaInmobiliaria" selected>{{data.subcategoriaInmobiliaria}}</option>
              <option ng-repeat="(key, data) in availableOptions" value="{{data.idsubcategoriaInmobiliaria}}" ng-if="propiedadElement[0].subcategoriaInmobiliaria != data.subcategoriaInmobiliaria">{{data.subcategoriaInmobiliaria}}</option>
            </select>
          </div>
        </div>
        <div class="form-group" ng-controller="getListTypeOperation">
          <label for="tipo-operacion-propiedad" class="col-sm-12 control-label">Tipo Operación *</label>
          <div class="col-sm-12">
            <select required class="form-control" id="tipo-operacion-propiedad" name="tipo-operacion-propiedad">
              <option disabled="" selected="" value="">Selecciona..</option>
              <option ng-repeat="(key, data) in availableOptions" value="{{data.idtipoOperacion}}" ng-if="propiedadElement[0].tipoOperacion == data.tipoOperacion" selected>{{data.tipoOperacion}}</option>
              <option ng-repeat="(key, data) in availableOptions" value="{{data.idtipoOperacion}}" ng-if="propiedadElement[0].tipoOperacion != data.tipoOperacion">{{data.tipoOperacion}}</option>
            </select>
          </div>
        </div>
        <div class="form-group">
          <label for="disponibilidad-propiedad" class="col-sm-12 control-label">Disponible *</label>
          <div class="col-sm-12">
            <select required class="form-control" id="disponibilidad-propiedad" name="disponibilidad-propiedad">
              <option disabled="" selected="" value="">Selecciona..</option>
              <option ng-if="propiedadElement[0].disponibilidad == 1" value="1" selected>Si</option>
              <option ng-if="propiedadElement[0].disponibilidad == 1" value="0">No</option>
              <option ng-if="propiedadElement[0].disponibilidad == 0" value="1">Si</option>
              <option ng-if="propiedadElement[0].disponibilidad == 0" value="0" selected>No</option>
            </select>
          </div>
        </div>
        <div class="result"></div>
        <div class="col-md-12">
          <button type="button" class="btn btn-danger" onclick="location.reload();">Cancelar</button>
          <button type="submit" class="btn btn-primary" id="buttonSave">Guardar</button>
          <input type="text" style="display:none" class="bReload" ng-click="loadImagesPropiedades()"></input>
        </div>
      </div>
    </form>
  </div>

</div>