<div class="select" ng-controller="getListStates">
    <div class="col-md-3 col-xs-12 col-sm-4 select-body">
        <div class="sl headp texto">TODOS LOS PROYECTOS </div><i class="glyphicon glyphicon glyphicon-chevron-right"></i>
        <div class="sl optp" ng-click="filtroDesarrollos(0)">TODOS LOS PROYECTOS</div>
        <div class="sl optp" ng-repeat="(key, data) in statesListFrontDes" ng-click="filtroDesarrollos(data.idEstados)">{{data.nombreEstado | uppercase}}</div>
    </div>
    <div class="col-md-3 col-xs-12 col-sm-4 select-body">
        <div class="sl headd-2 texto"> CIUDADES </div><i class="glyphicon glyphicon glyphicon-chevron-right"></i>
        <div id="queretaro" class="sl optd2" style="display:none;">TEST 1</div>
        <div id="leon" class="sl optd2" style="display:none;">TEST 2</div>
        <div id="jalisco" class="sl optd2" style="display:none;">TEST 3</div>
        <div id="aguascalientes" class="sl optd2" style="display:none;">TEST 4</div>
        <div id="guanajuato" class="sl optd2" style="display:none;">TEST 5</div>
    </div>
</div>
<div class="mask" style="height: 50px; background-color: #3e3e3e"></div>
